<div style="padding: 6%">
    <div class="container" style="background-color: ghostwhite" >
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div>
                <img src="http://lorempixel.com/200/200/people/9/" class="avatar img-circle img-thumbnail" alt="avatar">
                <h4>Upload a different photo...</h4>
                <input type="file" class="text-block well well-sm">
            </div>
        </div>
        <div class="pull-right">
            <input type="text" class="form-control" placeholder="Comments">
            <button type="button" class="btn btn-primary">UPDATE</button> </div>
    </div>
</div>